body {

    background-color: black;
    color: aliceblue;
    font-family: 'Major Mono Display', monospace;
}

#title {
    background-color: black;
    text-align: center;
    font-size: 3em;
}

p {
    text-align: center;
}

button {
    border-radius: 50%;
    padding: 10px;
}

.gif-div {
    padding: 10px;
    background-color: #7777;
    margin: 7px;
    border: solid #777777;
}

#gifs-appear-here {
    padding: 10px;
    /* margin-left: 5px; */
}

#userInput {
    width: 80%;
}
.gifBtn {
    margin: 5px;
}